name: WDPM price to Telegram

on:
  schedule:
    - cron: "0 * * * *"    # 每小時 0 分
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run goldspp
        env:
           TG_TOKEN: ${{ secrets.TG_TOKEN }}
        run: python goldspp.py
